.body {
	font-family: sans-serif;
	background: rgb(253, 41, 30);
}
.App {
	font-family: sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
.content {
	display: grid;
	gap: 1rem;
}
.progre {
	display: flex;
	flex-direction: column;
}
.probar {
	color: rgb(242, 188, 188);
	animation-fill-mode: forwards;
}
.upload-section {
	padding: 2rem 0;
	background-color: #ede6e6;
	border-radius: var(--border-radius-default);
	min-height: 350px;
	max-height: fit-content;
	border: 3px dashed;
	border-color: rgb(122, 120, 120);
	display: flex;
	align-items: center;
	justify-content: center;
}

.Iamgepro {
	justify-self: center;
}
.convert-btn {
	background-color: #3772da;
}
.App h1 {
	font-size: 3rem;
	margin: 4rem 0 0 0;
}

.App p {
	color: #1a1a11;
	font-size: 1.5rem;
}
.input-field {
	/* background-color: coral; */
	display: flex;
	flex-direction: column;
	text-align: center;
}
.input-wrapper {
	position: relative;
}

.input-wrapper,
label {
	display: inline-block;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 4px;
	/* background: coral; */
	color: #080808;
	margin: 3%;
}

.input-wrapper input[type="file"] {
	position: absolute;
	left: 26px;
	top: 6px;
	z-index: -1;
	font-size: 15px;
	color: #1a1a11;
	margin: 3%;
}

.result {
	max-height: 600px;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"box-img box-p"
		"download download";
	grid-gap: 0.5rem;
}

.result .box-image {
	/* background:linear-gradient(318deg, #e99340, #fefcd1db); */
	height: 80%;
	/* padding: 1rem; */
	margin-left: 20px;
	grid-area: box-img;
}

.result .box-p {
	background: #ddd;
	height: 80%;
	/* padding: 1rem; */
	margin-right: 20px;
	grid-area: box-p;
}

.result img {
	width: 100%;
	height: 100%;
}
.convert-btn {
	height: fit-content;
	margin: 4%;
	padding: 2%;
	font-size: 20px;
}
.download {
	height: fit-content;
	align-self: center;
	grid-area: download;
	margin-left: 40%;
	font-size: 20px;
}
.download-btn {
	width: 200px;
	padding: 1.5%;
	background-color: #3772da;
}

@media only screen and (max-width: 550px) {
	.result {
		grid-template-columns: 1fr;
		grid-template-rows: 0.7fr 1fr 0.2fr;
		grid-template-areas:
			"box-img"
			"box-p"
			"download";
		grid-gap: 0.5rem;
	}
	.result .box-p {
		background: #ddd;
		margin-left: 17px;
		height: 100%;
		grid-area: box-p;
	}
	.result .box-image {
		height: 80%;
		margin-right: 18px;
		grid-area: box-img;
	}
	.download {
		margin-left: 20%;
	}
	.heading > h1 {
		font-size: 40x;
		text-align: center;
	}
	.heading > p {
		font-size: 10px;
	}
}
